
// color library

$primary-color:  #539fc9 !default;
$priary-disabled: rgba(0, 84, 158, 0.1) !default;
$secondary-color: #ecc77a !default;
$success-color: #039B49 !default;
$danger-color: #EB5757 !default;
$disabled-color: #C4C4C4 !default;
$grey-color: #EBEEF2 !default;
$line-color: #DADEE3 !default;

$border-select: #F1F4F9 !default;

$background-default: #F6F7F9 !default;
$backgroud-secondary: #F4F6F9 !default;

// text
$text-light: #F6F7F9 !default;
$text-grey: #A5ABB3 !default;
$text-primary: #131B27 !default;